.options-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.option {
  border: 2px solid $orange-red;
  color: $orange-red;
  border-radius: 50px;
  padding: 8px 16px;
}

.options-page {
  display: flex;
  margin: 80px auto;
  width: 60%;
  justify-content: space-between;
}
