// Define variables for your color scheme

// For example:
$red: #FD1015;
$pastel-blue: #B0C6D4;
$blue: #0D6EFD;
$regal-blue: #1E3765;
$regal-blue-transparent: #1E376577;
$choice-point-yellow: #FFD600;
$choice-point-yellow-transparent: #FFD60077;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white: #FFFFFF;
$white-lilac: #F8F9FC;
$light-gray: #F4F4F4;
$dark-gray: #626262;
$black: #020202;
