// Define variables for your color scheme

// Current colors:
$orange-red: #F35529;
$orange-red-slightly-transparent: #F35529dd;
$orange-red-medium-transparent: #F35529aa;
$orange-red-transparent: #F3552922;
$dark-red: #8B0000;
$white: #FFFFFF;
$off-white: #F5F5F5;
$blue-gray: #6B98A8;
$blue-gray-transparent: #6B98A822;
$light-gray: #F4F4F4;
$medium-gray: #CCCCCC;
$dark-gray: #626262;
$black: #020202;

// Other colors
$red: #d9534f;
$pastel-blue: #B0C6D4;
$pastel-blue-transparent: #B0C6D477;
$blue: #0D6EFD;
$regal-blue: #1E3765;
$choice-point-yellow: #FFD600;
$choice-point-yellow-transparent: #FFD60077;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white-lilac: #F8F9FC;
