// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "Inter", "Helvetica", "sans-serif";

// Font sizes
$main-header-size: 48px;
$secondary-header-size: 24px;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
