// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;600&family=Martel:wght@900&family=Chivo:wght@400&display=swap');

// Define fonts for body and headers
$headers-font: 'Martel', sans-serif;
$body-font: 'Chivo', sans-serif;

// Font sizes
$main-header-size: 32px;
$secondary-header-size: 24px;
$paragraph-size: 16px;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
