<div class="feedback-report-container">
  <% if choice_point.successful %>
    <h3 class="feedback-heading">
      <strong><%= choice_point.chosen.description %></strong> was successful! 🥳
    </h3>
    <p>Everyone who voted for <strong><%= choice_point.chosen.description %></strong> gets +5 reputation.</p>

  <% else %>
    <h3 class="feedback-heading">
      <strong><%= choice_point.chosen.description %></strong> was unsuccessful. 😢
    </h3>
    <p>ChoicePoint isn’t perfect, but we do our best!</p>

  <% end %>
</div>
