
  <% @options.each do |option| %>
  <h1> <%= option.description %> </h1>
  <% end %>
  <div class="">
    <div>
      <%= render "form_option", choice_point: @choice_point, option: @option %>
    </div>

  </div>
