
  <% @options.each do |option| %>
  <span class="btn btn-outline-secondary"><%= option.description %></span>
  <% end %>
  <div class="mt-3">
    <div>
      <h3>Add options to your ChoicePoint</h3>
      <%= render "form_option", choice_point: @choice_point, option: @option %>
    </div>

  </div>
