<div class="mt-3">
  <div>
    <h2>Add some options</h3>
    <%= render "form_option", choice_point: @choice_point, option: @option %>
  </div>
</div>

<div>
  <h4 class="options-heading"><%= @choice_point.title %></h4>
  <% if @options.empty? %>
    <p>Waiting for your first option…</p>
  <% else %>
    <ul class="options-container">
      <% @options.each do |option| %>
        <li class="option"><%= option.description %></li>
      <% end %>
    </ul>
  <% end %>
</div>
