<div>
  <h2>Add an option</h2>
  <%= render "form_option",
      choice_point: @choice_point,
      option: @option,
      is_first_option: @options.empty? %>
</div>

<div class="options-list">
  <h3 class="options-heading"><%= @choice_point.title %></h3>
  <% if @options.empty? %>
    <p>Waiting for your first option…</p>
  <% else %>
    <ul class="options-container">
      <% @options.each do |option| %>
        <li class="option"><%= option.description %></li>
      <% end %>
    </ul>
  <% end %>
</div>
