<div class="card-product">
  <div class="card-product-infos">
    <%#= will eventually be something like choice_point.title and choice_point.description %>
    <h2>ChoicePoint Title</h2>
    <p>ChoicePoint description with <strong>relevant info</strong> only.</p>
  </div>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
</div>
