<%= link_to (choice_point_path(choicepoint)) do %>
  <div class="card-product">
    <div class="card-product-infos">
      <h2><%= choicepoint.title %></h2>
      <p><%= choicepoint.description %></p>
    </div>
    <img src="https://source.unsplash.com/random/?<%= choicepoint.title %>" />
  </div>
<% end %>
