<div class="card-what-is">
  <div>
    <%# <div class="asker"><%= @user_string %>
    <div class="info-card-container">
      <section class="info-text">
        <p>
          Need to make a tough decision?
          The ChoicePoint community will make it for you!
          <a href="#"><strong>Learn how.</strong></a>
        </p>
      </section>
      <%# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wpbx2e1f.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin-left: 25px;"  loop autoplay></lottie-player> %>
    </div>
  </div>
</div>
