
  <div class="card-what-is">
    <div class="card-product-infos">
      <%# <div class="asker"><%= @user_string %>
      <div class="info-card-container">
        <div class="info-text">
          <h2>What is ChoicePoint?</h2>
          <p>Fear of making the wrong decision is one of the reasons that many
          people hesitate when faced with a choice. You may be afraid of failure
          or even the consequences of success. ChoicePoint is here to help you make
          a decision by getting an ousiders opinion where you can see a majority vote.</p>
        </div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wpbx2e1f.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin-left: 25px;"  loop autoplay></lottie-player>
    </div>
    </div>
  </div>
