<div class="last-chance-container">
  <h3>Last chance to vote! </h3>
  <% last_chance.each do |lastchance| %>
    <%= link_to choice_point_path(lastchance), class: "card-last-chance-outer" do %>
      <div class="card-last-chance">

        <%# MAKE YOUR CARD HERE %>
        <div class="last-chance-row">
          <p><%= lastchance.title %></p>
          <% if lastchance.votes.where(user: current_user).empty? %>
            <button class="btn-ghost-vote">VOTE</button>
          <% else %>
            <button class="btn-ghost-voted">VOTED</button>
          <% end %>
          <h2> <%= (lastchance.deadline - Date.today).to_i %> Days </h2>
        </div>
        <%# END CARD HERE %>

      </div>
    <% end %>
  <% end %>
</div>
