body {
  background-color: F8F9FC;
}

.index_main_text{
  text-align: center;
  .large_index_image{
    width:auto;
  }
}

.choicepoint {
  .card-container{
  width: 60%;
  margin: 16px;
  }
  .ranking-container{
  width: 38%;
  }
}
