.choicepoint-form {
  .large-text-area {
    height: 100px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-select {
    margin: 0 !important;
  }
}
