.show-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  margin: 48px auto;
  width: 80%;

  .cp-asker-and-question {
    // TODO: Add CSS reset
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .asker {
    font-family: 'Chivo';
    font-size: $paragraph-size;
    color: $dark-gray;
    font-weight: 400;
  }
  .question {
    font-family: 'Martel';
    color: $orange-red;
    font-size: $main-header-size;
    font-weight: 700;
  }
  #more {
    border-width: 3px;
    font-size: $paragraph-size;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  p {
    // TODO: Add CSS reset
    margin: 0;
    padding: 0;
  }
  & > .votes-container {
    align-self: stretch;
  }
  .description {
    font-size: 20px;
  }
}

.show-container .show-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 48px;
}

.feedback-container {
  background-color: $off-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  border-radius: 16px;
  padding: 24px;
  flex-basis: 300px;
  flex-shrink: 0;
}

.feedback-report-container {
  h3 {
    margin-bottom: 8px;
  }
  flex-basis: 300px;
  flex-shrink: 0;
}

.show-options {
  margin-bottom: 48px;
}

.show-container .show-options {
  background-color: $off-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  border-radius: 16px;
  padding: 24px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 0fr 43fr 2fr 16fr 2fr 34fr;
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  // gap: 16px;
  align-items: center;
  grid-row-gap: 8px;
  .show-option-descriptions {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
  }
  .show-options-row {
    font-size: $secondary-header-size;
    font-weight: 700;
    // div {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   gap: 16px;
    // }
  }
  .show-options-row-pros-and-cons {
    text-transform: uppercase;
    padding: 6px 16px;
  }
  .pros-and-cons-container {
    gap: 16px;
  }
  .show-options-check-mark {
    font-size: 20px;
  }
  .selected-area {
    background-color: $light-gray;
  }
  .winning-area {
    background-color: $orange-red-transparent;
  }
  .show-options-radio-button-space {
    border-radius: 48px 0 0 48px;
  }
  .show-options-row-description {
    border-radius: 0 48px 48px 0;
    padding-left: 0;
  }
  .show-options-row-score-bar {
    background-color: $orange-red;
    box-shadow: 4px 4px 0px $medium-gray,
                3.75px 3.75px 0px $medium-gray,
                3.5px 3.5px 0px $medium-gray,
                3.25px 3.25px 0px $medium-gray,
                3px 3px 0px $medium-gray,
                2.75px 2.75px 0px $medium-gray,
                2.5px 2.5px 0px $medium-gray,
                2.25px 2.25px 0px $medium-gray,
                2px 2px 0px $medium-gray,
                1.75px 1.75px 0px $medium-gray,
                1.5px 1.5px 0px $medium-gray,
                1.25px 1.25px 0px $medium-gray,
                1px 1px 0px $medium-gray,
                0.75px 0.75px 0px $medium-gray,
                0.5px 0.5px 0px $medium-gray,
                0.25px 0.25px 0px $medium-gray;
    height: 50%;
    margin: 0 16px;
    padding: 0;
    border-radius: 5px;
  }
  .show-options-row-score {
    font-size: $paragraph-size;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.show-container {
  .show-options > * {
    padding: 8px 13px;
    margin: 8px 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 4px 0;
  }
  .show-options-header-row {
    font-size: $paragraph-size;
    color: $dark-gray;
    text-transform: uppercase;
    padding: 0 16px;
  }
  .description {
    font-family: 'Chivo';
  }
}

.active-votes-container {
  margin-bottom: 98.18px;
}

// Not DRY, will fix later
.show-view {
  // TODO: Move this elsewhere, should be inherited
  color: $black;
  background-color: $off-white;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.cp-title-and-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cp-info-and-feedback {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.feedback-heading {
  font-size: 24px;
  margin-bottom: 0;
}

.feedback-last-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.votes-container{
  input.btn-main {
    text-transform: uppercase;
    font-size: $secondary-header-size;
  }
}
