body {
  background-color: $off-white;
}

.index_main_text{
  text-align: center;
  font-family: $body-font;
  color: $black;
}

.secondary-title {
  font-size: 56px;
  color: $orange-red;
  //text-shadow: 0px 0px 16px #FFF8F7;
  font-family: 'Martel';
  font-weight: 600;
}

.choicepoint {
  .card-container{
  width: 55%;
  }
  .ranking-container{
  width: 45%;
  }
}

.large_index_image{
  //background-image: url(asset_path("question_mark_hands.jpeg"));
  height: 200px;
  background-size: cover;
  display: flex;
  width:auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 48px;
  place-items: center;
  gap: 20px;
}

.page-container{
  margin-top: 35px;
}

.choice-points-index-container {
  &.page-container {
    width: revert;
  }
  .container-left {
    padding-left: 24%;
    border-width: 2px 2px 2px 0px;
    border-radius: 0px 16px 16px 0px;
  }
  .container-right {
    padding-right: 25%;
    border-width: 2px 0px 2px 2px;
    border-radius: 16px 0 0 16px;
  }
}

.choicepoint {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.memo {
  height: 200px;
}

.ranking-container {
  max-height: 100vh;
  position: sticky;
  top: 36px;
}

#what-is-backdrop {
  background-color: $orange-red-transparent;
}

.index-bottom-links {
  display: flex;
  gap: 20px;
  padding: 8px 0 1.5rem;
}

// .fa-calendar::before {

// }
