.options-page {
  .large-text-area {
    height: 100px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .form-select {
    margin: 0 !important;
  }
  .question-mark-animation {
    justify-self: center;
  }
  .choice_point_deadline {
    margin-bottom: 0 !important;
  }
}
