<%# ChoicePoint.options.description for dropdown to pick chosen option %>
<h1>Feedback</h1>
<%= simple_form_for [ @choice_point ] do |f| %>
  <div class="choicepoint-description-container">
    <%= f.input :chosen, :collection => @choice_point.options{:description}, required: true %>
  </div>
<% end %>
