<%#= simple_form_for [ @choice_point ] do |f| %>
  <%# <div class="choicepoint-description-container"> %>
    <%#= f.input :option, placeholder: 'Option', label: 'Successful Option', :class => "form-field", required: true %>
  <%# </div> %>
<%# end %>
<h1>hello world</h1>
