<div data-search-target="list">
  <% choice_points.each do |choicepoint| %>
          <div class="position-relative mb-4" >
            <%= render "shared/choicepoint_card", choicepoint: choicepoint %>
          </div>
        <% end %>
</div>
