<!-- spacer div for the grid --> <div></div>
<p class="show-options-header-row show-options-row-description">
  <% if expired %>
    Voting done
  <% else %>
    <%= pluralize((choice_point.deadline - Date.today + 1).to_i, "day") %> left
  <% end %>
</p>
<!-- spacer div for the grid --> <div></div>
<!-- spacer div for the grid --> <div></div>
<!-- spacer div for the grid --> <div></div>
<p class="show-options-header-row">score</p>
<% choice_point.options.order(:id).each do |option| %>
  <%= yield(option) %>
  <p><a class="btn btn-ghost show-options-row-pros-and-cons" href="#">Pros</a></p>
  <p><a class="btn btn-ghost show-options-row-pros-and-cons" href="#">Cons</a></p>
  <!-- spacer div for the grid --> <div></div>
  <% width = option.score.zero? ? 0 : option.score / highest_score %>
  <!-- Not accessible! Should be fixed -->
  <div class="show-options-row show-options-row-score"
       style="width: calc(<%= width * 100 %>% - <%= 24 * width %>px);"></div>
<% end %>
