<div class="choicepoint-form">
  <h2>My active ChoicePoints</h2>
</div>
<div class="show-view">
  <div>
    <% @ongoing.each do |choice| %>
      <div class="show-container">
        <%= render "results",
              choice_point: @choice_point,
              highest_score: @highest_score,
              expired: @expired %>
      </div>
    <% end %>
  </div>
</div>
