<div class="index_main_text">
    <div class="large_index_image">
      <div class="title">
        <%# <h1 class="main-title">ChoicePoint</h1> %>
        <h2 class="secondary-title"> <a class="btn-info btn" href="/choice_points/new"><strong>GET YOUR SOLUTION</strong></a></h2>
      </div>
      <h2 class="trending-text">TRENDING</h2>
    </div>
  </div>

<div class="page-container">
    <div class="choicepoint">
      <div class="card-container">
        <div class="search-bar mb-4">
          <%= form_tag choice_points_path, method: :get, class: "search-wrapper" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search ChoicePoint"%>
          <% end %>

        </div>
        <% @choice_points.each do |choicepoint| %>
          <div class="position-relative mb-4" >
            <%= render "shared/choicepoint_card", choicepoint: choicepoint %>
          </div>
        <% end %>
      </div>
      <div class="ranking-container ms-4">
      <div class="trending mb-4">
        <p>Trending</p>
        <% trending = Vote.popular %>

        <% trending.each do |vote| %>
          <%= vote.choice_point.title %>
        <% end %>
      </div>

      <div class="memo"><p>memo placeholder</p></div>
      </div>
    </div>
</div>
