<div class="index_main_text">
    <div class="large_index_image">
      <h1>ChoicePoint</h1>
      <h1>T   R   E   N   D   I   N   G</h1>
    </div>
  </div>

<div class="page-container">
    <div class="choicepoint">
      <div class="card-container">
        <div class="search-bar mb-4">
          <%= form_tag choice_points_path, method: :get, class: "search-wrapper" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search ChoicePoint"%>
          <% end %>

        </div>
        <% @choice_points.each do |choicepoint| %>
          <div class="position-relative mb-4" >
            <%= render "shared/choicepoint_card", choicepoint: choicepoint %>
          </div>
        <% end %>
      </div>
      <div class="ranking-container ms-4">
      <div class="trending mb-4"><p>trending placeholder</p></div>

      <div class="memo"><p>memo placeholder</p></div>
      </div>
    </div>
</div>
