<div class="options-page">
  <div>
    <h2>Your ChoicePoint</h2>
    <%= render 'new_choice_point_form' %>
  </div>

  <div class="question-mark-animation">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_efetan8w.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
  </div>
</div>
