<div class="choicepoint-form">
  <h2>My past ChoicePoints</h2>
</div>
<div class="show-view">
  <div>
    <% @expired.each do |point| %>
      <div class="show-container">
        <%= point %>
      </div>
    <% end %>
  </div>
    <div class="show-header">
      <h4>
        <div class="question">
          <%= @title %>
        </div>
      </h4>
    </div>
</div>
