<%# TODO: View should look different after deadline has passed %>
<div class="show-view">
  <div class="show-container">
    <div class="show-header">
      <h1>
        <div class="asker"><%= @choice_point.user.name %> asks…</div>
        <div class="question"><%= @choice_point.title %></div>
      </h1>
      <p><a class="btn btn-ghost" id="more" href="#">More</a></p>
    </div>
    <% if @user_has_voted %>
      <p>You've already voted!</p>
    <% else %>
      <%= render "voting_form", choice_point: @choice_point %>
    <% end %>
  </div>
</div>
