<%# TODO: View should look different after deadline has passed %>
<div class="show-view">
  <div class="show-container">
    <div class="show-header">
      <h1>
        <div class="asker"><%= @user_string %></div>
        <div class="question"><%= @title %></div>
      </h1>
      <p><a class="btn btn-ghost spaced" id="more" href="#">More</a></p>
    </div>
    <%= render (@user_has_voted || @belongs_to_current_user ? "results" : "voting_form"),
               choice_point: @choice_point,
               highest_score: @highest_score %>
  </div>
</div>
