<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@choice_point.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @choice_point.description %>
<%# This is for choicepoint images once we get them %>
<%# <% content_for :meta_image, cl_image_path(@choice_point.photo.path) %>

<div class="show-view">
  <%= render "show_container",
             choice_point: @choice_point,
             user_string: @user_string,
             title: @title,
             belongs_to_current_user: @belongs_to_current_user,
             expired: @expired,
             user_has_voted: @user_has_voted,
             highest_score: @highest_score %>
</div>
