<% content_for :meta_title, "#{@choice_point.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @choice_point.description %>
<%# This is for choicepoint images once we get them %>
<%# <% content_for :meta_image, cl_image_path(@choice_point.photo.path) %>

<div class="choice-point-container">
  <%= render @choice_point %>
</div>
