<div class="show-view">
  <div class="show-header">
    <h1>
      <div class="asker"><%= @choice_point.user.name %> asks…</div>
      <div class="question"><%= @choice_point.title %></div>
    </h1>
    <p><a class="">More</a></p>
  </div>
</div>
