<%# TODO: View should look different after deadline has passed %>
<div class="show-view">
  <div class="show-container">
    <div class="show-header">
      <h1>
        <div class="asker"><%= @user_string %></div>
        <div class="question"><%= @title %></div>
      </h1>
      <p><a class="btn btn-ghost" id="more" href="#">More</a></p>
    </div>
    <% no_vote = @user_has_voted || @belongs_to_current_user || @expired %>
    <%= render (no_vote ? "results" : "voting_form"),
               choice_point: @choice_point,
               highest_score: @highest_score,
               expired: @expired %>

    <% feedback = @belongs_to_current_user && @expired %>
    <%= render (feedback ? "feedback")%>
  </div>
</div>
