.show-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  margin: 48px 0;

  h1 {
    // TODO: Add CSS reset
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .asker {
    font-size: $secondary-header-size;
    color: $dark-gray;
    font-weight: 400;
  }
  .question {
    font-size: $main-header-size;
    font-weight: 700;
  }
  #more {
    border-width: 3px;
    font-size: $paragraph-size;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    padding: 14px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  p {
    // TODO: Add CSS reset
    margin: 0;
    padding: 0;
  }
  form {
    align-self: stretch;
  }
}

.show-container .show-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 48px;
  h1 {
    flex-basis: 968px;
    flex-grow: 0;
  }
}

.show-container .show-options {
  background-color: $white;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  .show-option-descriptions {
    display: flex;
    flex-direction: column;
  }
  .show-option-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.show-view {
  // TODO: Move this elsewhere, should be inherited
  color: $black;
  background-color: $white-lilac
}
