.btn-ghost {
  color: $orange-red;
  border: 1px solid $orange-red;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active,&:disabled {
    opacity: 1;
    color: $orange-red;
  }
}

.btn-main {
  color: $white;
  background-color: $orange-red;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 700;
  border: 3px solid $orange-red;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-indent: 1px;
  transition: all 0.3s ease;
  &:hover,&:focus,&:active,&:disabled {
    background-color: $dark-red;
    color: $white;
    border: 3px solid $dark-red;
  }
}

.btn-login {
  color: $white;
  border: 1px solid $white;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active,&:disabled {
    color: $white;
    opacity: 1;
  }
}

.btn-signup {
  color: $orange-red;
  background: $white;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active,&:disabled {
    opacity: 1;
    color: $orange-red;
  }
}

.btn-info {
  color: $orange-red;
  border: 2px solid $orange-red;
  background-color: $white;
  padding: 6px 24px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 18px;
  letter-spacing: 1px;
  text-indent: 1px;
  &:hover,&:focus,&:active,&:disabled {
    background-color: $white;
    color: $orange-red;
    border: 2px solid $orange-red;
  }
}

.signedin-button-container {
  display: flex;
  gap: 0px;
}

.btn-submit {
  color: $white;
  background-color: $orange-red;
  padding: 9px 27px;
  border-radius: 50px;
  font-weight: 700;
  float: right;
}

.option-btn-container {
  display: flex;
  justify-content: space-between;
}
