.btn-ghost {
  color: $regal-blue;
  border: 1px solid $regal-blue;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $regal-blue;
}

.btn-main {
  color: $white;
  background-color: $regal-blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 700;
}

.btn-main:hover {
  background-color: $black;
  color: $white;
}

.btn-login {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-login:hover {
  color: #ffffff;
  opacity: 1;
}

.btn-signup {
  color: #1E3765;
  background: #ffffff;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-signup:hover {
  opacity: 1;
}

.btn-info {
  color: $regal-blue;
  border-radius: 2px solid $regal-blue;
  background-color: transparent;
  padding: 6px 24px;
  border-radius: 50px;
}


.btn-info:hover {
  background-color: #FFD600;
  opacity: 0.9;
  color: $regal-blue;
  border-radius: 2px solid #1E3765;

.signedin-button-container {
  display: flex;
  gap: 10px;
}
