.btn-ghost {
  color: $orange-red;
  border: 1px solid $orange-red;
  padding: 6px 24px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active {
    opacity: 1;
    color: $orange-red;
  }
}

.btn-main {
  color: $off-white;
  background-color: $orange-red;
  padding: 4px 10px 0px 10px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: 700;
  border: 3px solid $orange-red;
  //text-transform: uppercase;
  letter-spacing: 1px;
  text-indent: 1px;
  transition: all 0.3s ease;
  &:hover,&:focus,&:active {
    background-color: $dark-red;
    color: $white;
    border: 3px solid $dark-red;
  }
}

.btn-nav {
  color: $orange-red;
  border: 1px solid $orange-red;
  padding: 5px 15px 3px 15px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: 900;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active {
    color: $orange-red;
    opacity: 1;
  }
}

.btn-login {
  color: $off-white;
  border: 1px solid $off-white;
  padding: 5px 15px 3px 15px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: 900;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active {
    color: $white;
    opacity: 1;
  }
}

.btn-signup {
  color: $orange-red;
  background: $off-white;
  padding: 5px 15px 3px 15px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active {
    opacity: 1;
    color: $orange-red;
  }
}

.btn-info {
  color: $off-white;
  //border: 2px solid $orange-red;
  background-color: $orange-red;
  padding: 5px 15px 3px 15px;
  //border-radius: 50px;
  font-family: 'Martel';
  //text-transform: uppercase;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  text-indent: 1px;
  border-color: $orange-red;
  &:hover,&:focus,&:active {
    background-color: $off-white;
    color: $orange-red;
    border: 2px solid $orange-red;
  }
}

.btn-procon {
  color: $orange-red;
  //border: 2px solid $orange-red;
  background-color: $off-white;
  padding: 5px 15px 3px 15px !important;
  //border-radius: 50px;
  font-family: 'Martel';
  transition: all 0.3s ease;
  letter-spacing: 1px;
  text-indent: 1px;
  border-color: $orange-red;
  &:hover,&:focus,&:active {
    background-color: $orange-red;
    color: white;
    //border: 2px solid $orange-red;
  }
}

.signedin-button-container {
  display: flex;
  gap: 8px;
}

.login-btn-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn-submit {
  color: $off-white;
  background-color: $orange-red;
  padding: 9px 27px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: 700;
  float: right;
}

.option-btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.btn-ghost-vote {
  background-color: transparent;
  height: 35px;
  color: $orange-red;
  border: 1px solid $orange-red;
  padding: 7px 10px 15px 10px;
  //border-radius: 50px;
  font-family: 'Martel' !important;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover,&:focus,&:active {
    opacity: 1;
    color: $orange-red;
  }
}

.btn-ghost-voted {
  background-color: $orange-red;
  height: 35px;
  color: $off-white;
  border: 1px solid $orange-red;
  padding: 7px 10px 15px 10px;
  //border-radius: 50px;
  font-family: 'Martel';
  font-weight: lighter;
}

.btn.btn-large {
  font-size: 18px;
  font-family: 'Martel';
}

.btn-view {
  color: $off-white;
  background-color:  lightgrey !important;
  padding: 8px 24px;
  //border-radius: 50px;
  font-weight: 700;
  border: 3px solid $orange-red;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-indent: 1px;
  transition: all 0.3s ease;
  &:hover,&:focus,&:active {
    background-color: $orange-red !important;
    color: $off-white !important;
    border: 3px solid $orange-red;
  }
}

.btn-bolder {
  font-weight: 400;
  border-width: 2px;
  opacity: 1;
}

.btn-filled {
  color: $white;
  background-color: $orange-red;
  &:hover,&:focus,&:active {
    background-color: $dark-red;
    color: $white;
  }
  opacity: 1;
}
