.card-product {
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: $off-white;
  display: grid;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  &:hover {
    background-color: $orange-red-transparent;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  footer ul li,
  header h3 a {
    z-index: 20;
    position: relative;
  }
}

article {
  padding: 16px;
}

article.card-product {
  display: grid;
  row-gap: 8px;
  column-gap: 16px;
  align-items: flex-start;
  grid-template-columns: 1fr auto;
  grid-template-rows: fit-content(0) auto fit-content(0);
  grid-template-areas:
    "header  image"
    "content image"
    "footer  image";
  p {
    margin-top: 0;
  }
  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 4px;
    p {
      font-size: 15px;
    }
  }
  .card-content {
    grid-area: content;
    height: 3em;
    overflow: hidden;
  }
  .card-image {
    grid-area: image;
    width: 100px;
    height: 6em;
    align-self: center;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    grid-area: footer;
  }
}

.fa-calendar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $orange-red;
  opacity: .667;
  time {
    position: absolute;
    font-family: $headers-font;
  }
}

article.card-product footer ul {
  display: flex;
  gap: 16px;
  margin: 0;
}

.card-product-save {
  display: flex;
  font-family: 'Kumbh Sans', sans-serif;
  color: #CCCCCC;
  gap: 16px;
}

// .card-product img {
//   height: 80%;
//   width: 120px;
//   object-fit: cover;
//   margin: 15px;
//   border-radius: 5px;
//   align-items: center;
//   position: relative;
//   justify-content: center;
// }

.card-product {
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product h5 {
  font-size: 15px;
  color: #CCCCCC;
  // padding-top: 0px;
}

.card-product .card-product-infos {
  padding: 13px;
  padding-left: 0;
}

.card-product-infos {
  h3 {
    font-family: 'Martel';
    color: $orange-red;
  }
}

.card-product-infos h5 {
  font-family: 'Chivo';
  color: #6B98A8;
}

.card-product-infos p {
  font-family: 'Chivo';
  color: #6B98A8;
}

.card-container a {
  text-decoration: none;
}

.card-container header a:hover {
  text-decoration: underline;
}

.card-container footer li {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.last-chance-container{
  background-color: $off-white;
  width: 100%;
  height: 100%;
  align-items: stretch;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 24px;
  padding-right: 0;
  border-radius: 32px;
  // border: 3px solid $off-white;
  .card-last-chance{
    padding: 0.50em 0;
    width: 98%;
    overflow: hidden;
    background: $off-white;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
    text-decoration: none;
    color: $black;
    border-bottom: 1px solid $medium-gray;
    box-sizing: content-box;
  }
}

.last-chance-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.last-chance-container {
  h2,.last-chance-row-deadline {
    font-family: 'Martel';
    color: $orange-red;
  }
}

.card-last-chance .last-chance-row-title {
  font-family: 'Chivo';
  color: #6B98A8;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  width: 60%;
  &:hover {
    text-decoration: underline;
  }
}

.card-last-chance .last-chance-row-vote {
  margin: 0;
}

.card-last-chance .last-chance-row-deadline {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  width: 11%;
  text-align: right;
}

.last-chance-row{
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
}

.card-what-is {
  padding: 24px;
  .info-text p {
    font-size: 16px;
    color: #343434;
    margin-bottom: 0;
  }
  .info-text a {
    text-decoration: underline;
    color: #6B98A8;
  }
}

.what-is {
  overflow: hidden;
  height: 250px;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
}

.general-card {
  border: 2px solid $orange-red;
  border-radius: 16px;
  box-shadow: revert;
}

.calendar-icon {
  display: flex;
  margin: 15px;
  align-items: center;
  position: relative;
  justify-content: center;
  color: $orange-red-medium-transparent;
  padding-right: 8px;
}

.card-voted-container {
  width: 64px;
}

.card-product-save {
  font-family: 'Chivo';
  color: $blue-gray;
}
