.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
}

.card-product img {
  height: 80%;
  width: 120px;
  object-fit: cover;
  margin-right: 12px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-container a {
  text-decoration: none;
  color: black;
}

.last-chance-container{
  background-color: #1E3765;
  width: 100%;
  height: 100%;
  align-items: stretch;
  box-shadow: 0 0 15px rgba(0,0,0,1.2);
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 3px 3px 3px 3px;
  border-radius: 10px;
  border: 3px solid #FFD600;
  .card-last-chance{
    padding: 0.50em;
    margin: 0 auto;
    margin-bottom: 3px;
    width: 98%;
    overflow: hidden;
    background: white;
    padding: 0.50em;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: center;
    position: relative;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
}

.last-chance-container h3 {
  color: #FFD600;
  margin-top: 7px;
  align-self: center;
}

.card-last-chance p {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.card-last-chance h2 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.last-chance-row{
  display: flex;
  justify-content: space-between;
  height: 50px;
}
