.modal-content {
  border-radius: 20px;
  h1 {
    font-size: 18px;
  }
  h5 {
    font-size: 25px;
    font-weight: 700;
  }
  color: $orange-red;
  .modal-body {
    h1 {
      font-family: $body-font;
    }
    color: $blue-gray;
  }
}
