.navbar {
  & > .container-fluid {
    padding: 0 3%;
  }
  a, button {
    // Draws an appropriate-looking border around links/buttons when focused
    &:focus-visible {
      outline: 0;
      box-shadow: 0 0 0 $btn-focus-width rgba($primary, 0.5);
      border-radius: $border-radius;
    }
  }
}

.navbar-logo {
  width: 80px;
  height: auto;
}

.navbar-nav {
  gap: $spacer;
}

.navbar-username {
  display: flex;
  gap: $spacer / 2;
  align-items: center;
}

.navbar-reputation {
  color: $body-bg;
  background-color: $primary;
  align-self: center;
  border-radius: 50%;
  padding: 5px 8px;
  min-width: 35px;
  text-align: center;
}

.dropdown-menu {
  border-radius: 10px;
  border: none;
  background-color: unset;
}
