.navbar-lewagon {
  justify-content: space-between;
  background-color: $orange-red;
  // border-bottom: 5px solid $light-tan;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-logo li img {
  width: 80px;
}

a {
  text-decoration: none;
  // makes changes (no underline) to all link tags on the site
  color: inherit;
}

a:hover {
  color: inherit;
}

.main-title {
  color: $off-white;
  font-family: 'Martel';
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.navbar {
  & > .container-fluid {
    padding: 0 44px;
  }
  .btn-signup, .btn-login {
    margin-left: 16px;
  }
  .dropdown {
    margin-left: 8px;
  }
}

.nav-username {
  color: $off-white;
  align-self: center;
  margin-left: 20px;
  font-size: larger;
}
