.navbar-lewagon {
  justify-content: space-between;
  background-color: #1E3765;
  border-bottom: 5px solid #FFD600;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
