.search-bar {
  display: flex;
  flex-direction: row;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  &.container-left {
    border-bottom: 2px solid $dark-gray;
    border-radius: 0;
  }
  background-color: $white;
}

.search-wrapper{
  display: flex;
  width: 100%;
}

.inner-search-bar {
  // border-radius: 16px 0 0 16px;
  border: unset;
  border-radius: unset;
  &:focus {
    box-shadow: none;
    background-color: $white;
    border-right: none;
  }
  border-right: none;
  padding-left: 0;
}

.search-button {
  border: unset;
  border-radius: unset;
  padding: 0 12px;
  background-color: white;
}
