.form-container{
  width: 20%;
  margin: 30px auto;
}

.choicepoint-form {
  width: 40%;
  margin: 80px auto;
}

.small-select {
  padding: 2px 8px;
}

.margin-bottom-override {
  margin-bottom: 0 !important;
}
