h1,h2,h3,h4,h5,h6 {
  font-family: $headers-font;
  color: $orange-red;
}

ul {
  padding-left: unset;
}

ul > li {
  list-style: none;
}

// Undoes default browser styles for links
a,a:hover {
  text-decoration: none;
  color: inherit;
}

// Undoes default browser style for buttons
button {
  all: unset;
  outline: revert; // Button still gets outlined when focused
}

// Utility class for increased letter spacing (used in some buttons)
.text-spaced {
  letter-spacing: 0.04em;
  text-indent: 0.04em;
}
