ul {
  padding-left: unset;
}

ul > li {
  list-style: none;
}

.spaced {
  letter-spacing: 1px;
  text-indent: 1px;
}

.really-spaced {
  letter-spacing: 2px;
  text-indent: 2px;
}

body {
  color: $blue-gray;
}
