<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/choice_points">
      <h1 class="mb-0 disable-rfs">
        <%= image_tag 'CPLogo.png',
                      alt: '', height: 400, width: 400, class: "navbar-logo" %>
        ChoicePoint
      </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <%= render partial: "navbar_options" %>
      </ul>
    </div>
  </div>
</nav>
